*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
nbproject/
modules/smartoptimizer/cache/*
company/pdf_files/*
.ht*
.git/*
settings.jar
sor4.xml
tmp/chromelogs
tmp/test.csv
.idea
!*.gitignore
tmp/chromelogs/last_run.json
